<template>
  <v-app dark>
    <v-app-bar fixed color="#1eb98c" app>
      <span class="title">{{ title }}</span>
      <v-spacer />
      <!--      <v-btn icon dark>-->
      <!--        <v-icon>mdi-menu</v-icon>-->
      <!--      </v-btn>-->
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer dark :fixed="fixed" color="#1eb98c" app>
      <span>&copy;D4TJ {{ year }}</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component({})
export default class Default extends Vue {
  title: string = 'Kizuna';
  fixed: boolean = false;
  year: number = this.getYear();

  getYear() {
    return new Date().getFullYear();
  }
}
</script>

<style lang="scss" scoped>
.title {
  font-size: 20px;
  display: inline-block;
  padding: 0.4em 1em 0.2em;
  color: white;
  border: white dashed 1px;
  box-shadow: 0 0 0 0.2em #1eb98c;
  border-radius: 2.5px;
  background-color: #1eb98c;
}
</style>
