<template>
  <v-btn :class="className" rounded :color="color" @click="onClick">
    {{ text }}
    <v-icon class="icon" :color="iconColor" right>{{ icons }}</v-icon>
  </v-btn>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'nuxt-property-decorator';
import 'material-icons/iconfont/material-icons.scss';

@Component({})
export default class Button extends Vue {
  @Prop({ type: String, required: true, default: '' })
  text!: string;

  @Prop({ type: String, required: false, default: '' })
  icons!: string;

  @Prop({ type: String, required: false, default: '' })
  className?: string;

  @Prop({ type: String, required: true, default: '' })
  color!: string;

  @Prop({ type: String, required: true, default: '' })
  iconColor!: string;

  @Emit()
  private onClick(): void {}
}
</script>

<style lang="scss" scoped>
@include sc(pc) {
  .icon {
    font-size: 130px;
    position: absolute;
    top: calc(140% + 0.5em);
    right: 20%;
  }
}
</style>
