<template>
  <BaseDialog v-model="dialog">
    <div class="p-messageDialog">
      <!-- eslint-disable-next-line vue/no-v-html -->
      <div class="p-messageDialog_body" v-html="message"></div>
      <div class="p-messageDialog">
        <v-btn
          rounded
          color="primary"
          dark
          class="p-messageDialog_btn"
          @click="onSubmit2"
          >{{ buttonLabel2 }}</v-btn
        >
        <v-btn
          rounded
          color="#ef5350"
          dark
          class="p-messageDialog_btn"
          @click="onSubmit"
          >{{ buttonLabel }}</v-btn
        >
      </div>
    </div>
  </BaseDialog>
</template>

<script lang="ts">
import { Vue, Component, Emit, Prop } from 'nuxt-property-decorator';
import BaseDialog from '@/components/atoms/baseDialog.vue';

@Component({
  name: 'MessageDialog',
  components: {
    BaseDialog
  }
})
export default class Dialog extends Vue {
  @Prop({ required: true }) public message!: string;
  @Prop({ default: '終了する' }) public buttonLabel!: string;
  @Prop({ default: '続ける' }) public buttonLabel2!: string;

  public dialog = true;

  @Emit('submit')
  onSubmit() {
    this.dialog = false;
  }

  @Emit('submit2')
  onSubmit2() {
    this.dialog = true;
  }
}
</script>

<style lang="scss">
.p-messageDialog {
  color: #202020;
  &_body {
    @include sc(pc) {
      min-width: 250px;
      font-size: 20px;
      margin-bottom: 40px;
    }
    @include sc(sp) {
      min-width: 250px;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  &_btn {
    @include sc(pc) {
      width: 140px;
      height: 40px;
    }
    @include sc(sp) {
      width: 125px;
      height: 40px;
    }
  }
}
</style>
