<template>
  <BaseDialog v-model="dialog">
    <div class="messageDialog">
      <v-img class="box" :src="img" />
      <v-btn
        rounded
        color="primary"
        dark
        class="messageDialog__btn"
        @click="onSubmit"
        >{{ buttonLabel }}</v-btn
      >
    </div>
  </BaseDialog>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'nuxt-property-decorator';
import QRCode from 'qrcode';
import BaseDialog from '@/components/atoms/baseDialog.vue';
import { CallModule } from '@/store/call';

@Component({
  components: {
    BaseDialog
  }
})
export default class Generate extends Vue {
  @Prop({ default: '閉じる' }) public buttonLabel!: string;
  @Prop({ type: String, required: true, default: '' })
  url!: string; // URLの指定ができます。

  public dialog = true;

  @Emit('submit')
  onSubmit() {
    this.dialog = false;
  }

  width: number = 100; // widthの指定ができます。
  img: string = '';

  mounted() {
    this.qrCodeGen();
  }

  qrCodeGen() {
    QRCode.toDataURL(CallModule.word, { width: this.width })
      .then((data: string) => {
        this.img = data;
      })
      .catch((_err: any) => {
        // console.error(err);
      });
  }
}
</script>

<style lang="scss" scoped>
.messageDialog {
  @include sc(pc) {
    min-width: 500px;
    &__btn {
      margin-top: 20px;
      margin-left: 55px;
      width: 400px;
      height: 40px;
    }
  }
  @include sc(sp) {
    min-width: 200px;
    &__btn {
      margin-top: 20px;
      margin-left: 10px;
      width: 180px;
      height: 40px;
    }
  }
}
</style>
