<template>
  <div class="skyway-video">
    <Dialog
      v-if="isOpenedMessageDialog"
      message="通話を終了しますか？"
      @submit="disconnect"
      @submit2="reconnect"
    ></Dialog>
    <div v-show="isMuteMessageDialog" class="textArea">
      <span class="textArea__textPart">{{ text }}</span>
    </div>
    <!-- 自分 -->
    <div class="container">
      <div class="buttons">
        <!-- カメラON/OFF -->
        <v-btn
          class="ma-2"
          outlined
          large
          fab
          color="primary"
          @click="camOnOff"
        >
          <v-icon>{{ videoIcon }}</v-icon>
        </v-btn>
        <!-- ミュート -->
        <v-btn class="ma-2" outlined large fab color="primary" @click="mute">
          <v-icon>{{ muteIcon }}</v-icon>
        </v-btn>
        <!-- 終了 -->
        <v-btn
          class="ma-2"
          outlined
          large
          fab
          color="secondary"
          @click="openDialog"
        >
          <v-icon>mdi-phone-classic-off</v-icon>
        </v-btn>
      </div>
      <div class="videoWrapper">
        <video v-show="!data.isVideo" id="local-stream" class="test"></video>
        <img v-if="data.isVideo" class="test" src="@/static/camOff.png" />
      </div>
      <!-- 参加者 -->
      <div id="remote-streams" class="remote-streams">
        <v-carousel
          class="carousel"
          hide-delimiter-background
          show-arrows-on-hover
        >
          <v-carousel-item
            v-for="remoteStream in data.remoteStreams"
            :key="remoteStream.peerId"
            :src="remoteStream"
          >
            <video
              :id="remoteStream.peerId"
              autoplay
              :srcObject.prop="remoteStream"
              class="test2"
            ></video>
          </v-carousel-item>
        </v-carousel>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import Peer, { SfuRoom } from 'skyway-js';
import { SkywayMediaStream, SkywayData } from '@/types/SkyWay.ts';
import Dialog from '@/components/dialog.vue';
import { CallModule } from '@/store/call';

@Component({
  components: {
    Dialog
  }
})
export default class SkywayVideo extends Vue {
  data: SkywayData = {
    peer: null,
    room: null,
    localStream: undefined,
    isVideo: false,
    isMute: false,
    remoteStreams: [],
    talkingId: null
  };

  text: string = 'ミュートになっています';

  // ダイアログフラグ
  isOpenedMessageDialog: boolean = false;
  isMuteMessageDialog: boolean = false;

  // userNameを親から引き継ぐ
  @Prop({ type: String, required: true })
  userName!: string;

  // roomNameを親から引き継ぐ
  @Prop({ type: String, required: true })
  roomName!: string;

  // videoのアイコンをフラグで切り替え
  get videoIcon(): string {
    return this.data.isVideo ? 'mdi-video-off' : 'mdi-video';
  }

  // muteのアイコンをフラグで切り替え
  get muteIcon(): string {
    return this.data.isMute ? 'mdi-volume-off' : 'mdi-volume-high';
  }

  // DOMが作成された直後の処理
  async mounted() {
    console.log(CallModule.word);
    const localVideo = document.getElementById(
      'local-stream'
    ) as HTMLMediaElement;

    this.data.localStream = await navigator.mediaDevices.getUserMedia({
      audio: true,
      video: true
    });

    localVideo.muted = true;
    localVideo.srcObject = this.data.localStream;
    await localVideo.play();

    this.data.peer = await new Peer(this.userName, {
      key: process.env.SKYWAY_API_KEY || '',
      debug: 1
    });
    this.data.peer.on('open', this.connect);
  }

  // 接続
  connect() {
    if (!this.data.peer || !this.data.peer.open) {
      return;
    }
    // console.log('ConnectPeer', this.data.peer);

    this.data.room = this.data.peer.joinRoom(this.roomName, {
      mode: 'sfu',
      stream: this.data.localStream
    }) as SfuRoom;

    if (this.data.room) {
      this.data.room.on('stream', (stream: SkywayMediaStream): void => {
        (this as any).startVoiceDetection(stream, this.talkUpdate);
        this.data.remoteStreams.push(stream);
        console.log('stream: ', this.data.remoteStreams);
        for (let i = 0; i < this.data.remoteStreams.length; i++) {
          if (this.data.remoteStreams[i].active === false) {
            this.data.remoteStreams.splice(i, 1);
          }
        }
      });

      this.data.room.on('peerLeave', (peerId: string): void => {
        const audio = document.getElementById(peerId);
        for (let i = 0; i < this.data.remoteStreams.length; i++) {
          if (this.data.remoteStreams[i].active === false) {
            this.data.remoteStreams.splice(i, 1);
          }
          console.log('test_leave: ', this.data.remoteStreams);
        }
        if (audio) {
          audio.remove();
        }
      });
    }
  }

  // カメラ ON/OFF
  camOnOff(): void {
    if (this.data.localStream) {
      const videoTrack = this.data.localStream.getVideoTracks()[0];
      this.data.isVideo = !this.data.isVideo;
      videoTrack.enabled = !this.data.isVideo;
    }
  }

  // ミュート
  mute(): void {
    if (this.data.localStream) {
      const audioTrack = this.data.localStream.getAudioTracks()[0];
      this.data.isMute = !this.data.isMute;
      audioTrack.enabled = !this.data.isMute;
      this.isMuteMessageDialog = !this.isMuteMessageDialog;
    }
  }

  // ダイアログ表示
  openDialog(): void {
    this.isOpenedMessageDialog = true;
  }

  // 切断
  disconnect(): void {
    // console.log('DisConnectPeer', this.data.peer);
    if (this.data.room) {
      this.data.room.close();
    }
    if (this.data.peer) {
      this.data.peer.disconnect();
      this.data.peer.destroy();
      this.data.peer = null;
      this.isOpenedMessageDialog = false;
      CallModule.setReset();
      this.$router.push('/');
    }
  }

  // 通話再接続
  reconnect(): void {
    this.isOpenedMessageDialog = false;
  }

  // 話してる人
  talkUpdate(peerId: string) {
    this.data.talkingId = peerId;
  }
}
</script>
<style lang="scss">
.skyway-video {
  @include sc(pc) {
    margin-top: 30px;
  }
}
.textArea {
  z-index: 1;
  position: absolute;
  background-color: #1eb98c;
  padding: 10px;
  border-radius: 30px;
  color: white;
  @include sc(pc) {
    bottom: 131px;
    left: 610px;
    &__textPart {
      font-size: x-large;
      // text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000,
      //  -1px -1px 0 #000000;
    }
  }
  @include sc(sp) {
    text-align: center;
    bottom: 155px;
    left: 73px;
    &__textPart {
      font-size: large;
    }
  }
}
.talking {
  border: 3px solid #0000ff;
}
.carousel {
  @include sc(pc) {
    height: 510px !important;
    text-align: center;
  }
  @include sc(sp) {
    height: 500px !important;
    text-align: center;
  }
  @include sc(ot) {
    height: 560px !important;
    text-align: center;
  }
}
.buttons {
  position: absolute;
  z-index: 1;
  @include sc(pc) {
    display: flex;
    flex-direction: column;
    right: 200px;
    text-align: center;
  }
  @include sc(sp) {
    text-align: center;
    left: 56px;
    bottom: 70px;
  }
  @include sc(ot) {
    display: flex;
    flex-direction: column;
    right: 300px;
    text-align: center;
  }
}
.ma-2 {
  background-color: #f6f7e6;
}
.videoWrapper {
  position: absolute;
  z-index: 2;
  @include sc(sp) {
    width: 150px;
    height: 115px;
  }
  @include sc(ot) {
    width: 200px;
  }
}
.test {
  border: 5px solid #1eb98c;
  @include sc(pc) {
    width: 300px;
    height: 230px;
  }
  @include sc(sp) {
    width: 100%;
    height: 100%;
  }
  @include sc(ot) {
    width: 100%;
  }
}

.test2 {
  @include sc(pc) {
    position: relative;
    min-width: 100%;
  }
  @include sc(sp) {
    position: relative;
    right: 200px;
    height: 500px;
  }
  @include sc(ot) {
    min-height: 100%;
    min-width: 100%;
  }
}
</style>
