<template>
  <div>
    <template>
      <skyway-video :room-name="roomName" :user-name="userName"></skyway-video>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import Logo from '@/components/Logo.vue';
import VuetifyLogo from '@/components/VuetifyLogo.vue';
import SkywayVideo from '@/components/SkywayVideo.vue';
import { CallModule } from '@/store/call';

@Component({
  components: {
    Logo,
    VuetifyLogo,
    SkywayVideo
  }
})
export default class Call extends Vue {
  roomName: string = CallModule.word;

  // computed いわゆるGetter
  get userName(): string {
    return this.makeRandom(10);
  }

  makeRandom(retLength: number): string {
    // 生成する文字列に含める文字セット
    const chars: string = 'abcdefghijklmnopqrstuvwxyz0123456789';
    const charsLength: number = chars.length;
    const ret: string[] = [...Array(retLength)].map((): string => {
      return chars[Math.floor(Math.random() * charsLength)];
    });
    return ret.join('');
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  @include sc(pc) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
}
</style>
