<template>
  <div class="help">
    <span class="help__textPart">{{ text1 }}</span>
    <img class="help__helpImg" src="@/static/help_img1.png" />
    <span class="help__textPart">{{ text2 }}</span>
    <img class="help__helpImg" src="@/static/help_img2.png" />
    <span class="help__textPart">{{ text3 }}</span>
    <img class="help__helpImg" src="@/static/help_img3.png" />
    <span class="help__textPart">{{ text4 }}</span>
    <img class="help__helpImg" src="@/static/help_img4.png" />
    <v-btn
      rounded
      color="#1eb98c"
      class="help--helpBtn"
      height="60px"
      @click="back"
      >{{ btnText
      }}<v-icon class="help__helpIcon" color="white">mdi-home</v-icon></v-btn
    >
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component({})
export default class Help extends Vue {
  text1: string = '1.「ホーム画面」の操作方法';
  text2: string = '2.「カメラ(QR)で通話画面」の操作方法';
  text3: string = '3.「QRコード読み込み画面」の操作方法';
  text4: string = '4.「通話画面」の操作方法';
  btnText: string = 'ホームに戻る';

  back() {
    this.$router.push('/');
  }
}
</script>

<style lang="scss" scoped>
.help {
  display: flex;
  flex-wrap: wrap;
  &__textPart {
    font-weight: 600;
    margin-top: 30px;
    @include sc(pc) {
      font-size: x-large;
    }
    @include sc(sp) {
      font-size: lerge;
    }
  }
  &__helpImg {
    margin: auto;
    @include sc(pc) {
      width: 1000px;
    }
    @include sc(sp) {
      width: 300px;
    }
  }
  &--helpBtn {
    color: white;
    align-items: center;
    margin: 30px auto;
    @include sc(pc) {
      font-size: xx-large;
      width: 1000px;
    }
    @include sc(sp) {
      font-size: large;
      width: 330px;
    }
  }
  &__helpIcon {
    @include sc(pc) {
      font-size: 60px;
      position: absolute;
      top: calc(50% - 0.5em);
      right: 32%;
    }
  }
}
</style>
