<template>
  <div class="main">
    <div class="ground">
      <v-col class="ground__textField">
        <v-text-field
          label="あいことば"
          filled
          clearable
          counter="24"
          maxlength="24"
          :value="text"
          @input="handleWord($event)"
        />
      </v-col>
      <div class="ground__button">
        <div class="ground__button--contain">
          <Button
            text="通話に参加"
            class-name="ground__button__layout"
            color="#f9f9f9"
            icons="phone_in_talk"
            icon-color="#1eb98c"
            @on-click="navigation"
          />
          <Button
            text="カメラで通話"
            class-name="ground__button__layout"
            color="#f9f9f9"
            icons="qr_code"
            icon-color="#1eb98c"
            @on-click="qrRelation"
          />
        </div>
      </div>
    </div>
    <div style="height: 100px; position: relative">
      <v-fab-transition>
        <v-btn
          color="#e14673"
          dark
          fixed
          bottom
          right
          fab
          class="iconBtn"
          @click="helpRelation"
        >
          <v-icon>mdi-account-question-outline</v-icon>
        </v-btn>
      </v-fab-transition>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import Button from '@/components/button.vue';
import { CallModule } from '@/store/call';

@Component({
  components: {
    Button
  }
})
export default class index extends Vue {
  text: string = CallModule.word;

  handleWord(e: any) {
    CallModule.setWord(e);
  }

  navigation() {
    if (!CallModule.word) {
      alert('あいことばが入力されていません。');
      return;
    }
    this.$router.push('/call');
  }

  qrRelation() {
    this.$router.push('/setting');
  }

  helpRelation() {
    this.$router.push('/help');
  }
}
</script>

<style lang="scss" scoped>
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .ground {
    &__textField {
      @include sc(pc) {
        margin: 30px auto 20px;
        width: 960px;
        height: 60px;
      }
      @include sc(sp) {
        margin: 30px auto;
        width: 270px;
        height: 50px;
      }
      @include sc(ot) {
        margin: 30px auto 20px;
        width: 450px;
        height: 60px;
      }
    }
    &__button {
      text-align: center;
      @include sc(pc) {
        &__layout {
          width: 450px;
          height: 400px;
          font-size: xx-large;
          color: #333333;
          margin: 20px 20px;
        }
      }
      @include sc(sp) {
        &--contain {
          display: flex;
          flex-direction: column;
        }
        &__layout {
          width: 250px;
          height: 70px;
          color: #333333;
          margin: 10px auto;
        }
      }
    }
    @include sc(pc) {
      &__icon {
        font-size: 80px;
        position: absolute;
        top: calc(50% - 0.5em);
        right: 29%;
      }
    }
  }
}
</style>
