<template>
  <div>
    <body>
      <v-btn fab dark color="primary" @click="back">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <qrcode-stream @decode="onDecode" @init="onInit" />
    </body>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import { CallModule } from '@/store/call';
@Component({})
export default class QRReader extends Vue {
  text: string = 'QRコードをカメラに写してください';
  error: any;

  back() {
    this.$router.push('/setting');
  }

  onDecode(result: string) {
    if (result.length === 0) {
      alert('QRコードの読み取りが失敗しました。');
      return;
    }
    if (result.length >= 25) {
      alert('QRで読み取ったあいことばの文字数が24文字を超えています。');
      return;
    }
    CallModule.setWord(result);
    this.$router.push('/call');
  }

  async onInit(promise: any) {
    try {
      await promise;
    } catch (error) {
      if (error.name === 'NotAllowedError') {
        this.error = 'ERROR: you need to grant camera access permisson';
      } else if (error.name === 'NotFoundError') {
        this.error = 'ERROR: no camera on this device';
      } else if (error.name === 'NotSupportedError') {
        this.error = 'ERROR: secure context required (HTTPS, localhost)';
      } else if (error.name === 'NotReadableError') {
        this.error = 'ERROR: is the camera already in use?';
      } else if (error.name === 'OverconstrainedError') {
        this.error = 'ERROR: installed cameras are not suitable';
      } else if (error.name === 'StreamApiNotSupportedError') {
        this.error = 'ERROR: Stream API is not supported in this browser';
      }
    }
  }
}
</script>

<style lang="scss" scoped>
body {
  background-color: #486d46;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  @include sc(pc) {
  }
  @include sc(sp) {
    height: 450px;
  }
}
</style>
