<template>
  <div class="main">
    <div class="ground">
      <span class="ground__textLayout">{{ text }}</span>
      <Generate v-if="button" class="ground__box" @submit="close" />
      <div class="ground__button">
        <div class="ground__button--container">
          <Button
            text="QRコードの生成"
            icons="qr_code_2"
            class-name="ground__button__layout ground__button__layout__QR"
            icon-color="#1eb98c"
            color="#f9f9f9"
            @on-click="visibleButton"
          />
          <Button
            text="QR読み込み画面へ"
            icons="qr_code_scanner"
            class-name="ground__button__layout ground__button__layout__QR"
            icon-color="#1eb98c"
            color="#f9f9f9"
            @on-click="reader"
          />
          <div class="ground__button--contain">
            <v-btn
              rounded
              class="ground__button--homeLayout"
              color="#1eb98c"
              @click="back"
              >ホームに戻る
              <v-icon class="ground__icon" color="white">home</v-icon>
            </v-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import Generate from '@/components/generate.vue';
import Button from '@/components/button.vue';
import 'material-icons/iconfont/material-icons.scss';
import { CallModule } from '@/store/call';

@Component({
  components: {
    Generate,
    Button
  }
})
export default class Setting extends Vue {
  text: string = 'カメラ(QR)で通話';
  button: boolean = false;

  visibleButton() {
    if (!CallModule.word) {
      alert('あいことばが入力されていません。ホームに戻って入力してください。');
      return;
    }
    this.button = !this.button;
  }

  reader() {
    this.$router.push('/qrReader');
  }

  back() {
    this.$router.push('/');
  }

  close(): void {
    this.button = false;
  }
}
</script>

<style lang="scss" scoped>
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .ground {
    &__textLayout {
      text-align: center;
      display: flex;
      flex-direction: column;
      color: #333333;
      margin: 10px;
      @include sc(pc) {
        font-size: 38px;
      }
      @include sc(sp) {
        font-size: 20px;
      }
    }
    &__button {
      text-align: center;
      &--homeLayout {
        color: white;
        @include sc(pc) {
          font-size: xx-large;
          width: 950px;
          height: 90px;
          margin: 10px auto;
        }
        @include sc(sp) {
          width: 250px;
          height: 45px;
          margin: 10px auto;
        }
        @include sc(ot) {
          width: 450px;
          height: 90px;
          font-size: xx-large;
          margin: 10px auto;
        }
      }
      @include sc(pc) {
        &--contain {
          display: flex;
          flex-direction: column;
        }
        &__layout {
          width: 450px;
          height: 400px;
          font-size: xx-large;
          color: #333333;
          margin: 20px 20px;
          &__QR {
            padding-bottom: 5px;
          }
        }
      }
      @include sc(sp) {
        &--container {
          display: flex;
          flex-direction: column;
        }
        &__layout {
          width: 250px;
          height: 70px;
          color: #333333;
          margin: 10px auto;
          &__QR {
            padding-bottom: 5px;
          }
        }
      }
    }
    &__box {
      width: 280px;
      height: 280px;
      background: #c4c4c4;
      border: 1px solid #333333;
      box-sizing: border-box;
      margin: 10px auto 10px;
    }
    @include sc(pc) {
      &__icon {
        font-size: 80px;
        position: absolute;
        top: calc(50% - 0.5em);
        right: 29%;
      }
    }
  }
}
</style>
