
$breakpoint: (
  pc: 'screen and (min-width: 1024px)',
  sp: 'screen and (max-width: 640px)',
  ot: 'screen and (max-width: 1024px) and (min-width: 640px)'
) !default;

@mixin sc($bp: sp) {
  @if map-has-key($breakpoint, $bp) == false {
    @error "breakpointが存在しません。"
  }
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
