<template>
  <div class="p-dialog" :class="{ 'op-active': isActive }">
    <div v-if="isActive" class="p-dialog_box">
      <div v-if="useCloseButton" class="p-dialog_close" @click="handleClose">
        <v-icon>mdi-close-circle-outline</v-icon>
      </div>
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'nuxt-property-decorator';

@Component
export default class BaseDialog extends Vue {
  @Prop({ default: false })
  useCloseButton!: boolean;

  @Prop({ required: true, type: Boolean })
  value!: boolean;

  mounted() {
    // 他の要素の影響を受ける可能性があるのでルートに再配置
    this.$nextTick(() => {
      // 初回の再配置が失敗することがあるのでビュー全体の構築を待って実行
      this.$root.$el.appendChild(this.$el);
    });
  }

  beforeDestroy() {
    if (!this.$el.parentNode) {
      return;
    }
    this.$el.parentNode.removeChild(this.$el);
  }

  @Emit('on-close') handleClose() {}

  get isActive() {
    return this.value;
  }
}
</script>

<style lang="scss">
.p-dialog {
  $padding-top: 30px;
  $padding-side: 40px;
  $padding-side-sp: 20px;
  $button-size: 13px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: none;
  &.op-active {
    display: flex;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  &_box {
    position: relative; /* for .close-button */
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    padding: $padding-top $padding-side;
    box-sizing: border-box;
    background: #e0e0e0;
    @media (orientation: landscape) {
      overflow-y: auto;
      max-height: 100vh;
    }
  }
  &_close {
    position: absolute;
    top: $padding-top;
    right: $padding-side;
    z-index: 99;
    width: $button-size;
    height: $button-size;
    cursor: pointer;
    width: 13px;
    height: 13px;
    svg {
      display: block;
    }
  }
}
</style>
